* {
    box-sizing: border-box;
}

.music-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.music-item {
    display: inline-block;
    flex-basis: 200px;
}

.track-title,
.track-artist {
    font-weight: 700;
    display: block;
}