* {
    box-sizing: border-box;
}

.music-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 0;
}

.music-item {
    display: inline-block;
    flex-basis: 200px;
}

.track-title,
.track-artist {
    font-weight: 700;
    display: block;
}

#top-controls {
    overflow: hidden;
    padding: 20px 20px 0 20px;
}

#audio-player {
    width: 100%;
    height: 42px;
    position: fixed;
    bottom: 0;
    text-align: center;
}

#audio-player .sm2-bar-ui {
    
}